<a href="https://colab.research.google.com/github/liman8/Notebooks/blob/main/zadatak2_EDA.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from scipy import stats

In [ ]:
!gdown 1VIa6to3xMpMbCp2JQKzlGS5LZZ1AsE_H #https://www.kaggle.com/hesh97/titanicdataset-traincsv

Downloading...
From: https://drive.google.com/uc?id=1VIa6to3xMpMbCp2JQKzlGS5LZZ1AsE_H
To: /content/titanic_data.csv
100% 61.2k/61.2k [00:00<00:00, 56.6MB/s]

In [ ]:
# Učitati bazu u DataFrame
df_train = pd.read_csv('titanic_data.csv')

## 1.1 Upoznavanje sa bazom

Prvo da pogledamo kako izgleda skup podataka:
Koji su nazivi obeležja?
Koliko ima uzoraka?
Koja obeležja su numerička, a koja kategorička?
Da li neki podaci nedostaju?
Funkcije **shape** i **info** daće nam odgovore na ova pitanja.  
**head** pokazuje prvih nekoliko vrsta iz baze.

### shape, info, head

In [ ]:
df_train.shape

(891, 12)

In [ ]:
df_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

In [ ]:
df_train.head(10)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
5,6,0,3,"Moran, Mr. James",male,NaN,0,0,330877,8.4583,NaN,Q
6,7,0,1,"McCarthy, Mr. Timothy J",male,54.0,0,0,17463,51.8625,E46,S
7,8,0,3,"Palsson, Master. Gosta Leonard",male,2.0,3,1,349909,21.0750,NaN,S
8,9,1,3,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",female,27.0,0,2,347742,11.1333,NaN,S
9,10,1,2,"Nasser, Mrs. Nicholas (Adele Achem)",female,14.0,1,0,237736,30.0708,NaN,C

In [ ]:
# proveriti broj i udeo nedostajućih podataka za svako od obeležja

Razmisliti koji je najbolji način za rešavanje problema nedostajućih podataka u ovom slučaju. Da li treba dopuniti nedostajuće vrednosti obeležja, ili ima više smisla odbaciti neka obeležja i/ili uzorke?

In [ ]:
# odbacivanje obeležja

In [ ]:
# odbacivanje uzoraka

In [ ]:
# dopuna vrednosti

In [ ]:
# ponovna provera nedostajućih podataka

Prikazati uporedo raspodele starosti preživelih i preminulih putnika. Takođe, prikazati raspodelu cene karte za te dve grupe putnika. Da li se može doći do nekih zaključaka na osnovu poređenja ove dve raspodele?

Prikazati zavisnost cene karte od starosti putnika i od putničke klase. Da li predstavljanje obe navedene zavisnosti grafikom rasipanja donosi korisne informacije? Kojom vrstom grafika je bolje predstaviti drugu traženu zavisnost? Proveriti šta prikazuje funkcija pairplot primenjena na ceo DataFrame.

## 1.4 Međusobni odnosi (korelacija) numeričkih varijabli

Prikazati korelacionu matricu koristeći toplotnu mapu. Na šta ukazuje negativna korelacija između obeležja? Da li su u većoj meri korelisana obeležja sa korelacijom -0.7 ili sa korelacijom 0.3?

In [ ]:
# napraviti listu numeričkih obeležja

In [ ]:
# prikazati korelacionu matricu toplotnom mapom

In [ ]:
categorical_feats = np.concatenate((df_train.dtypes[df_train.dtypes == "int64"].index, df_train.dtypes[df_train.dtypes == "object"].index))
print("Number of Categorical features: ", len(categorical_feats))

for catg in list(categorical_feats) :
    print(df_train[catg].value_counts())
    print('#'*50)

Pri analizi kategoričkih obeležja, korisno je prikazati tzv. pivot tabele,
odnosno tabele koje sumarno prikazuju broj uzoraka koji imaju određenu kombinaciju vrednosti dva obeležja. Koristeći funkciju `crosstab` iz Pandas biblioteke prikazati koliko je među putnicima bilo žena, a koliko muškaraca u svakoj od putničkih klasa. Takođe prikazati koliko je putnika preživelo, a koliko nije iz svake od putničkih klasa. Šta se može zaključiti iz dobijenih tabela?

In [ ]:
pd.crosstab(df_train['Pclass'],df_train['Sex']).style.background_gradient(cmap='summer_r')

Podatke iz poslednje pivot tabele prikazati na grafiku koristeći funkciju `countplot` iz biblioteke Seaborn.

Koristeći funkciju `violinplot` iz biblioteke Seaborn prikazati raspodele godina za svaki od polova.

Za praćenje zavisnosti srednje vrednosti nekog numeričkog obeležja od vrednosti dva kategorička obeležja pogodna je funkcija `barplot` iz biblioteke Seaborn. Prikazati zavisnost prosečne cene karte od pola (M/Ž) putnika, za preživele i stradale putnike.

Koristeći histograme, prikazati uporedo raspodele muškaraca i žena po godinama. Podesiti da jedan stubić odgovara intervalu od 5 godina.